

#screen-container{
    width: 245px;
    height: 250px;
    background-color: white;
    border: 2px black solid ;
    position: absolute;
    left: 550px;
    top: 48px;

    box-shadow: 2px 2px 14px 0 black;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    
}